@import '../../styles/variables';

.video-list {
	grid-column: center-start / center-end;
	margin: 1rem 0;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	grid-gap: 2rem;
}

@media only screen and (min-width: 1600px) {
	.video-list {
		grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
		grid-gap: 2.25rem;
	}
}

@media only screen and (min-width: 1980px) {
	.video-list {
		grid-template-columns: repeat(auto-fit, minmax(38rem, 1fr));
		grid-gap: 2rem;
	}
}

@media only screen and (min-width: 2450px) {
	.video-list {
		grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
		grid-gap: 3rem;
	}
}
