.new-list__accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new-list__favorite-list {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 1fr;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
}

.new-list__favorite-list.open-accordion {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 1fr;
  max-height: 130vh;
  -webkit-transition: max-height .4s ease-in;
  transition: max-height .4s ease-in;
}

.new-list__item {
  position: relative;
}

.new-list__item:not(:last-child) {
  margin-bottom: .5rem;
}

.new-list__link {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.new-list__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #defcf9;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
}

.new-list__link:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  width: 100%;
  z-index: -1;
}

.new-list__link:link, .new-list__link:visited {
  color: #777;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1rem 3rem;
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new-list__icon {
  width: 1.75rem;
  height: 1.75rem;
  margin: 0 1rem;
  fill: currentColor;
}

.new-list__icon-minus {
  width: 1.75rem;
  height: 1.75rem;
  fill: currentColor;
}

.new-list__btn-minus {
  margin-left: auto;
  margin-right: 1rem;
}

.new-list__input {
  width: 90%;
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  border-radius: 1rem;
  padding-left: .7rem;
  margin: .7rem 1rem .7rem 0;
}

.new-list__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #999;
}

.new-list__span {
  padding-left: .7rem;
  margin: .7rem 0;
}

@media only screen and (min-width: 1600px) {
  .new-list__input {
    width: 110%;
    font-size: 150%;
  }
  .new-list__span {
    width: 110%;
    font-size: 110%;
  }
  .new-list__icon {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 1.2rem;
    fill: currentColor;
  }
}

@media only screen and (min-width: 1800px) {
  .new-list__input {
    width: 120%;
    font-size: 175%;
  }
  .new-list__span {
    width: 130%;
    font-size: 130%;
  }
  .new-list__icon {
    width: 2.75rem;
    height: 2.75rem;
    margin: 0 1.2rem;
    fill: currentColor;
  }
}

@media only screen and (min-width: 2000px) {
  .new-list__input {
    width: 130%;
    font-size: 200%;
  }
  .new-list__span {
    width: 140%;
    font-size: 140%;
  }
  .new-list__icon {
    width: 3rem;
    height: 3rem;
    margin: 0 1.2rem;
    fill: currentColor;
  }
}

@media only screen and (max-width: 900px) {
  .new-list__span {
    width: 90%;
    font-size: 90%;
  }
}
/*# sourceMappingURL=NewList.css.map */