@import '../../styles/variables';

.new-list {
	&__accordion {
		display: flex;
		align-items: center;
	}

	&__favorite-list {
		display: grid;
		grid-auto-rows: 1fr;
	}

	&__item {
		position: relative;

		&:not(:last-child) {
			margin-bottom: .5rem;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		position: relative;
	}

	&__link::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 3px;
		background-color: $color-primary;
		transform: scaleY(0);
		transition: transform .2s, width .4s cubic-bezier(1, 0, 0, 1) .2s,
			background-color .1s;
	}

	&__link:hover::before {
		transform: scaleY(1);
		width: 100%;
		z-index: -1;
	}

	&__link:link,
	&__link:visited {
		color: $color-grey-dark-2;
		text-decoration: none;
		text-transform: uppercase;
		display: block;
		padding: 1rem 3rem;
		position: relative;
		z-index: 10;

		display: flex;
		align-items: center;
	}

	&__icon {
		width: 1.75rem;
		height: 1.75rem;
		margin: 0 1rem;
		fill: currentColor;
	}

	&__icon-minus {
		width: 1.75rem;
		height: 1.75rem;
		fill: currentColor;
	}

	&__btn-minus {
		margin-left: auto;
		margin-right: 1rem;
	}

	&__input {
		width: auto;
		font-family: inherit;
		font-size: inherit;
		background-color: $color-grey-light-2;
		border: none;
		border-radius: 1rem;
		padding-left: .7rem;
		margin: .7rem 1rem .7rem 0;

		&::-webkit-input-placeholder {
			font-weight: 100;
			color: $color-grey-dark-3;
		}
	}

	&__span {
		padding-left: .7rem;
		margin: .7rem 0;
	}
}
