@import '../styles/variables';

.container {
	max-width: 120 rem;
	background-color: $color-grey-light-2;
	box-shadow: $shadow-dark;
	/* CSS Smooth Scroll */
	// overflow-y: scroll;
	// scroll-behavior: smooth;
}

.content {
	display: flex;
}

.sidebar {
	background-color: $color-secondary;

	flex: 0 0 18%;

	position: -webkit-sticky;
	position: sticky;
	top: 10vh;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	overflow: auto;
}

.video {
	background-color: $color-primary;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	flex: 1;
	position: relative;
}
