@import "../../styles/variables";
@import "../../styles/animations";

.container {
	max-width: 120 rem;
	background-color: $color-grey-light-2;
	box-shadow: $shadow-dark;
}

.content {
	display: flex;
}

.sidebar {
	background: $grey-gradient;

	flex: 0 0 18%;

	position: -webkit-sticky;
	position: sticky;
	top: 8vh;
	height: 92vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	overflow: auto;
}

.video {
	background: $dark-gradient;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	flex: 1;
	position: relative;
	border-left: 1rem solid #D5CABD;
}

@media only screen and (max-width: 1200px) {
	.sidebar {
		flex: 0 0 21%;
	}
}

@media only screen and (max-width: 1010px) {
	.sidebar {
		flex: 0 0 24%;
	}
}

@media only screen and (max-width: 810px) {
	.sidebar {
		top: 0;
		left: 0;
		padding-top: 5rem;
		height: 100%;
		z-index: 200;
		position: fixed;
		width: 70%;
		max-width: 400px;
		transform: translateX(-100%);
		transition: transform 0.3s ease-out;
	}

	.sidebar.open {
		transform: translateX(0);
	}
}

@media only screen and (max-width: 700px) {
	.sidebar {
		padding-top: 8rem;
	}
}


