@import "../../styles/variables";

.video-item {
	display: flex;
	background-color: $color-tertiary;
	position: relative;
	box-shadow: $shadow-dark;

	&__container {
		display: flex;
		flex-direction: column;
	}

	&__content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1;

		width: 100%;
		padding: 1.25rem;
		font-size: 1.2rem;
		text-align: center;
		background-color: $color-grey-dark-1;
		color: $color-grey-light-1;
	}

	&__img {
		width: 100%;
		z-index: 1;
	}

	&__icon--favorite {
		height: 2.5rem;
		width: 2.5rem;
		position: inherit;

		z-index: 3;
		fill: $color-secondary;

		filter: drop-shadow($shadow-light);
		-webkit-filter: drop-shadow($shadow-light);

		&:focus,
		&:hover {
			transform: scale(1.2);
			outline: none;
		}
	}

	&__btn--favorite {
		position: absolute;
		right: 3rem;
		top: 2rem;
		z-index: 2;
	}

	&__link {
		display: flex;
	}
}

@media only screen and (min-width: 1600px) {
	.video-item {
		&__content {
			padding: 1.5rem;
			font-size: 1.6rem;
		}
	}
}

@media only screen and (min-width: 2000px) {
	.video-item {
		&__content {
			padding: 1.8rem;
			font-size: 2.25rem;
		}
	}
}

@media only screen and (min-width: 2500px) {
	.video-item {
		&__content {
			padding: 2rem;
			font-size: 2.8rem;
		}
	}
}
