@import '../styles/variables';

.container {
	max-width: 120 rem;
	margin: 1rem auto;
	background-color: $color-grey-light-2;
	box-shadow: $shadow-dark;
	/* CSS Smooth Scroll */
	// overflow-y: scroll;
	// scroll-behavior: smooth;
}

.content {
	display: flex;
}

.sidebar {
	background-color: $color-secondary;

	flex: 0 0 18%;

	position: sticky;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	// height: 100vh;
	overflow-y: scroll;
	top: 0;
	bottom: 0;
}

.video {
	background-color: $color-primary;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	flex: 1;
	position: relative;
}
