@import '../styles/variables';

.container {
	max-width: 120 rem;
	margin: 1rem auto;
	background-color: $color-grey-light-2;
	box-shadow: $shadow-dark;
}

.content {
	display: flex;
}

.sidebar {
	background-color: $color-secondary;

	flex: 0 0 18%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.video {
	background-color: $color-primary;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	flex: 1;
}
