@import '../styles/variables';

.side-nav {
	position: sticky;
	top: 8rem;
	font-size: 1.4rem;
	list-style: none;
	margin-top: 2rem;
}

.btn {
	display: flex;
	align-items: center;
	border: none;
	background-color: inherit;
}

.legal {
	font-size: 1.2rem;
	color: $color-grey-dark-2;
	text-align: center;
	padding: 2.5rem;
}
