@import '../styles/variables';

.video-item {
	background-color: var(--color-tertiary);
	position: relative;
	box-shadow: var(--shadow-dark);

	&__img {
		width: 100%;
		z-index: 1;
	}

	&__checkbox {
		appearance: none;
		background-color: transparent;
		cursor: pointer;
		height: 2.8rem;
		width: 2.8rem;
		position: absolute;
		right: 1rem;
		top: 1rem;
		z-index: 3;

		transition: .2s;
	}

	&__icon-favorite {
		height: 2.5rem;
		width: 2.5rem;
		position: absolute;
		right: 1rem;
		top: 1rem;
		z-index: 2;

		filter: drop-shadow(var(--shadow-light));
		-webkit-filter: drop-shadow(var(--shadow-light));

		&:focus,
		&:hover {
			transform: scale(1.2);
			outline: none;
		}
	}

	&__content {
		font-size: 1.2rem;
		text-align: left;
		padding: 1.25rem;
	}
}

#checkbox-toggle {
	&:hover ~ .video-item__icon-favorite {
		transform: scale(1.2);
		outline: none;
	}

	&:checked ~ .video-item__icon-favorite {
		fill: var(--color-primary);
	}
}
