@import "../styles/variables";

.video-item {
	display: flex;
	flex-direction: column;

	background-color: $color-tertiary;
	position: relative;
	box-shadow: $shadow-dark;

	&__img {
		width: 100%;
		z-index: 1;
	}

	&__icon--favorite {
		height: 2.5rem;
		width: 2.5rem;
		position: inherit;

		z-index: 3;
		fill: $color-secondary;

		filter: drop-shadow($shadow-light);
		-webkit-filter: drop-shadow($shadow-light);

		&:focus,
		&:hover {
			transform: scale(1.2);
			outline: none;
		}
	}

	&__btn--favorite {
		position: absolute;
		right: 3rem;
		top: 1rem;
		z-index: 2;
	}

	&__link {
		display: flex;
	}

	&__content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1;

		width: 100%;
		padding: 1.25rem;
		font-size: 1.2rem;
		text-align: center;
		background-color: $color-grey-dark-1;
		color: $color-grey-light-1;
	}
}
