@import '../../styles/variables';

.side-nav {
	top: 8rem;
	font-size: 1.4rem;
	list-style: none;
	margin-top: 2rem;
}

.btn {
	display: flex;
	align-items: center;
	border: none;
	background-color: inherit;
	padding-right: .2rem;
}
